{
	"extends": "@react-native-community",
	"rules": {
		"quotes": ["error", "single", {
			"avoidEscape": true,
			"allowTemplateLiterals": true
		}],
		"jsx-quotes": ["error", "prefer-single"],
		"comma-dangle": ["error", "never"],
		"no-trailing-spaces": "error",
		"eol-last": ["error", "never"]
	}
}